<div class="container mx-auto">

    <app-header [products]="shoppingCart()"/>

    <p>product-list works!</p>
    <br>
    <div class="grid grid-cols-4 gap-6">

        @for (product of products(); track product.title) {
            <!--app-product-detail title={{product.title}} price={{product.price}} img={{product.img}} (addToCart)="addToShoppingCartHandler($event)" / -->
            <app-product-detail [product]=product (addToCart)="addToShoppingCartHandler($event)" />
        }

    </div>

</div>

